@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", "Cairo", system-ui, sans-serif;
  --color-primary: #1e293b;
  --color-accent: #f59e0b;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: var(--font-sans);
}
